version: "3.8"

services:
  mongodb:
    image: mongo:7.0
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    command: >
      bash -c "
        mongod --bind_ip_all &
        echo 'Waiting for MongoDB to start...';
        until mongosh -u admin -p admin123 --authenticationDatabase admin --eval 'db.runCommand({ ping: 1 })' &>/dev/null; do
          sleep 2;
        done;
        echo 'Setting profiling level for test and blog_db...';
        mongosh -u admin -p admin123 --authenticationDatabase admin --eval 'db.setProfilingLevel(1)';
        mongosh -u admin -p admin123 --authenticationDatabase admin --eval 'db.getSiblingDB("blog_db").setProfilingLevel(2)';
        wait
      "
    volumes:
      - ./mongo_data:/data/db
    mem_limit: 512m
    cpus: 0.5

  mongo-exporter:
    image: percona/mongodb_exporter:0.40.0
    container_name: mongo-exporter
    restart: always
    command:
      - "--mongodb.uri=mongodb://admin:admin123@mongodb:27017/admin"
      - "--collect-all"
      - "--compatible-mode"           # 可选，方便和旧版 dashboard 对接
    ports:
      - "9216:9216"
    depends_on:
      - mongodb

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    restart: always
    ports:
      - "8080:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - mongo-exporter
      - cadvisor

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana_data:/var/lib/grafana
