services:
  mongo:
    image: mongo:7.0
    container_name: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    ports:
      - "27017:27017"
      - "9091:9091"
    volumes:
      - ./node-exporter-install.sh:/node-exporter-install.sh
    command: ["/bin/bash", "/node-exporter-install.sh"]

  mongo-exporter:
    image: percona/mongodb_exporter:0.40
    container_name: mongo-exporter
    restart: always
    depends_on:
      - mongo
    entrypoint: ["/mongodb_exporter"]
    command:
      - '--mongodb.uri=mongodb://admin:admin123@mongo:27017'
      - '--collect-all'
      - "--compatible-mode"
    ports:
      - "9216:9216"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana_data:/var/lib/grafana
