services:
  mongo:
    image: mongo:7.0
    container_name: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    ports:
      - "27017:27017"
      - "9100:9100"
    volumes:
      - ./node-exporter-install.sh:/node-exporter-install.sh
      - ./mongo-data:/data/db
      - ./mongo_init:/docker-entrypoint-initdb.d
    command: ["/bin/bash", "/node-exporter-install.sh"]
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s

  mongo-exporter:
    image: percona/mongodb_exporter:0.40
    container_name: mongo-exporter
    restart: always
    depends_on:
      - mongo
    entrypoint: ["/mongodb_exporter"]
    command:
      - '--mongodb.uri=mongodb://admin:admin123@mongo:27017'
      - '--collect-all'
      - "--compatible-mode"
    ports:
      - "9216:9216"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana_data:/var/lib/grafana

  redis:
    image: redis:7-alpine
    container_name: redis_server
    restart: always
    ports:
      - "6379:6379"

  backend:
    build: .
    container_name: fastapi_backend
    restart: always
    ports:
      - "8001:8001"
    volumes:
      - .:/app
    depends_on:
      mongo:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      - MONGODB_URL=mongodb://admin:admin123@mongo:27017
      - REDIS_URL=redis://redis:6379/0
    command: ["/bin/sh", "-c", "uvicorn src.main:app --host 0.0.0.0 --port 8001 --reload"]

  frontend:
    build: ./vue3-blog
    container_name: frontend
    restart: always
    ports:
      - "5173:80"
    depends_on:
      - backend
#  elasticsearch:
#    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
#    environment:
#      - discovery.type=single-node
#      - xpack.security.enabled=false
#    ports:
#      - "9200:9200"
#
#  kibana:
#    image: docker.elastic.co/kibana/kibana:8.15.0
#    environment:
#      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
#    ports:
#      - "5601:5601"
#    depends_on:
#      - elasticsearch
#
#  filebeat:
#    image: docker.elastic.co/beats/filebeat:8.15.0
#    user: root
#    volumes:
#      - ./filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
#      - ./mongo-logs:/var/log/mongodb:ro
#      - /var/lib/docker/containers:/var/lib/docker/containers:ro
#      - /var/run/docker.sock:/var/run/docker.sock:ro
#    depends_on:
#      - elasticsearch
#      - mongo
